.header {
  display: flex;
  width: 1440px;
  height: 60px;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #efefef;

  &__size {
    width: 935px;
    display: flex;
  }

  &__logo {
    width: 103px;
    height: 29px;
    margin-top: 15px;
    left: 257px;
  }

  &__input {
    &-wrapper {
      margin-left: 150px;
      position: relative;
    }
    border: 1px solid #efefef;
    padding-left: 43px;
    width: 252px;
    height: 36px;
    margin-top: 12px;
    left: 510px;
    border-radius: 8px;
    background-color: #efefef;
  }

  &__search {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 24px;
    right: 270px;
  }
}
.picture {
  width: 24px;
  height: 24px;
  top: 18px;
  left: 912px;
  &__wrapper {
    width: 269px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 18px;
  }
  &__btn {
    background: none;
    border: none;
    padding-bottom: 11px;
  }
}
