.EditDeleteWindow {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 80px;
  right: 0;

  &__edit {
    width: 116px;
    height: 26px;
    border-radius: 20px;
    background-color: #2b3138;
    color: #f4faff;
    margin-bottom: 4px;
  }

  &__delete {
    width: 116px;
    height: 26px;
    border-radius: 20px;
    background-color: #2b3138;
    color: #f4faff;
  }
}
