.modalActiveSecond {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 96.5%;
  margin: 0;

  &__wrapper {
    border-radius: 24px;
    width: 956px;
    height: 677px;
    background-color: #ffffff;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: 73px;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 17px 0 17px;
  }

  &__btnPrev {
    border: none;
    background: none;
  }

  &__title {
    display: flex;
    align-items: center;
    color: #000000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
  }

  &__btnAdd {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    border: none;
    background: none;
    color: #0095f6;
  }

  &__bottom {
    display: flex;
    height: 956px;
  }

  &__addImg {
    width: 599px;
    height: 604px;
    border-radius: 0 0 0 24px;
  }

  &__container {
    margin: 8px 0 0 16px;
  }

  &__user {
    display: flex;
  }

  &__userImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #c4c4c4;
  }

  &__userName {
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
  }

  &__input {
    border: none;
    background: none;
    margin-top: 18px;
  }
}
