.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.posts {
  border: 1px solid #efefef;
  border-color: #efefef;
  width: 600px;
  height: 875px;
  margin-top: 24px;

  &__btn {
    margin-top: 8px;
    border: none;
    height: 24px;
    width: 24px;
    background: none;
    display: flex;
    gap: 2px;
    align-items: center;
  }

  &__wrapper {
    display: flex;
  }

  &__name {
    margin-top: 8px;
    margin-left: 14px;
  }

  &__dots {
    background-color: #262626;
    width: 3px;
    height: 3px;
    border-radius: 70%;
  }

  &__header {
    padding: 14px 20px 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__img {
    background-color: #c4c4c4;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  &__content {
    background-color: #c4c4c4;
    width: 600px;
    height: 600px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 552px;
    padding: 0 24px;
    margin-top: 15px;
  }

  &__span {
    width: 116px;
  }

  &__Like {
    margin-right: 22px;
  }

  &__ImgComments {
    margin-right: 22px;
  }

  &__likeCount {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0 0 20px;
    width: 69px;
    height: 16px;
  }

  &__Comments {
    margin: 8px 0 0 20px;
    width: 560px;
    padding-right: 20px;
  }

  &__Commentator {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 550;
    line-height: 16.41px;
  }

  &__btnMore {
    border: none;
    background: none;
    color: #8e8e8e;
  }

  &__seeComets {
    background: none;
    border: none;
    color: #8e8e8e;
    margin: 9px 0 0 14px;
    font-family: Roboto;
    font-size: 14px;
  }

  &__time {
    color: #8e8e8e;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 450;
    margin: 10px 0 25px 20px;
  }

  &__addComments {
    padding: 0 20px 0 5px;
    width: 575px;
    display: flex;
    align-items: center;
    height: 61px;
    border-color: #ffffff;
    border: 1px solid #efefef;
  }

  &__smile {
    width: 50px;
    height: 100%;
    background: none;
    border: none;
  }

  &__emojis {
    width: 23px;
    margin-top: 5px;
  }

  &__input {
    flex: 1;
    height: 50px;
    border: none;
  }

  &__add {
    background: none;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    color: #0095f640;
  }
}
