.Recommendations {
  width: 300px;
  height: 518px;
  margin: 24px 0 0 35px;
  padding-top: 30px;

  &__containerTop {
    width: 300px;
    height: 56px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 18px;
  }

  &__infoTop {
    display: flex;
    width: 128px;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    width: 145px;
    justify-content: space-between;
  }

  &__nameChange {
    margin-top: 9px;
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
  }

  &__Change {
    color: #0095f6;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    top: 133px;
    left: 1140px;
    border: none;
    background: none;
  }

  &__suggestions {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #8e8e8e;
  }

  &__see {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #262626;
  }

  &__image {
    background-color: #c4c4c4;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    top: 114px;
    left: 881px;
  }

  &__name {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
  }

  &__description {
    color: #8e8e8e;
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
  }

  &__Follow {
    color: #0095f6;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    top: 133px;
    left: 1140px;
    border: none;
    background: none;
  }

  &__all {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__container {
    width: 300px;
    height: 36px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 12px;
  }

  &__img {
    background-color: #c4c4c4;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 2px;
  }

  &__Information {
    color: #8e8e8e;
    margin-top: 32px;
    margin-bottom: 18px;
  }

  &__instagram {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #8e8e8e;
  }
}
